@import '../../main';

.notFoundContainer {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        text-align: center;
    }
}

@media screen and (max-width: 600px) {
    .notFoundContainer {
        padding-top: 5rem;
        justify-content: start;
        h1 {
            font-size: 1.5rem;
        }
    }
}